.header {
    font-weight: bold;
}

.row {
    text-align: center;
}

.matHeader {
    border-top: white solid .5px;
}

.mats>.row,
.matHeader * {
    border-bottom: white solid .5px;
    border-right: white solid .5px;
    border-collapse: collapse;
}

.matHeader,
.mats>.row * {
    border-left: white solid .5px;
}

.matSection {
    padding-bottom: 3em;
}

.scroll {
    overflow-y: scroll;
    height: 99%;
    padding-bottom: 2em;
}

.scroll::-webkit-scrollbar {
    display: none;
}

body.nis:not(.artefact)::-webkit-scrollbar {
    display: none;
}

body.nis:not(.artefact) {
    overflow: scroll !important;
    min-width: 315px;
}

.complete {
    background-color: lime;
    color: black;
}

.container * {
    font-weight: bold;
    font-size: 10pt;
}

.hide {
    display: none;
}

.getMat {
    background-color: #00eeff !important;
    transition: background-color 500ms;
}

.normal {
    background-color: transparent;
    transition: background-color 500ms;
}

.goal,
.goalCol {
    display: none;
}

.expand {
    margin-bottom: 17em !important;
}

.nisbutton {
    font-size: 8pt !important;
}

.artefact {
    overflow: hidden !important;
    margin-bottom: 2em !important;
    min-width: 400px;
}

.artefactInput {
    text-align: center;
    /* max-width: 2em; */
}

.artefactInput::-webkit-outer-spin-button,
.artefactInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.import {
    position: fixed;
    top: 0;
    right: 0;
}

.menu {
    margin-bottom: 4em
}

.main {
    overflow: scroll;
    padding-bottom: 3em;
    max-height: 100vh;
    margin: 0 5px;
}

.input-group-text {
    min-width: 249px;
}