.header {
    font-weight: bold;
}

.row {
    text-align: center;
}

.matHeader {
    border-top: white solid .5px;
}

.mats>.row,
.matHeader * {
    border-bottom: white solid .5px;
    border-right: white solid .5px;
    border-collapse: collapse;
}

.matHeader,
.mats>.row * {
    border-left: white solid .5px;
}

.matSection {
    padding-bottom: 3em;
}

.scroll {
    overflow-y: scroll;
    height: 99%;
    padding-bottom: 2em;
}

.scroll::-webkit-scrollbar {
    display: none;
}

body.nis::-webkit-scrollbar {
    display: none;
}

body.nis {
    padding-bottom: 5em;
}

.complete {
    background-color: lime;
    color: black;
}

.container * {
    font-weight: bold;
    font-size: 10pt;
}

.hide {
    display: none;
}

.getMat {
    background-color: lime;
    transition: background-color 500ms;
}

.normal {
    background-color: transparent;
    transition: background-color 500ms;
}